@import url("app.css");
body{
  background-image: url("../images/bg.jpg");
   background-size: cover;
}
.textFontHabits{
  font-family: 'Indie Flower', cursive;
      /* font-family: 'Dancing Script', cursive; */
}
.brandInPage{
  font-size: 5em;
}
.navbarTextSize{
  font-size: 1.1em;
}
.Transparent{
  background: transparent!important;
}
/*Para el footer en el pie de pagina*/
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute!important;
  bottom: 0!important;
  background-color: rgba(255, 255, 255, 0.2);
}
/*Para el footer en el pie de pagina*/
.maxSize{
  width: 500px;
}
.sizeImgHabits{
  height: 3em;
  width: 3em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/*https://stackoverflow.com/questions/48373119/change-bootstrap-4-checkbox-background-color
Groso!!1 editar el color del checkbox pero ojo q es para todos....*/
.custom-control-label:before{
  background-color:grey;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:grey;
}
.iconHabits{
  height: 1.3em;
  width: 1.3em;
}
.carrouselSize{
  height: 500px!important;
  overflow: hidden;
}
.imgFooter{
  height: 1.3rem;
  width: 1.3rem;
  color: #666666;
}
